/* === HEADER AND HERO === */
.header-and-hero {
  margin: 0 auto;

  width: 100%;
  height: auto;
  //   max-width: 1440px;
  //   max-height: 750px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: gray;

  background-image: url(../img/hero-bg/hero-bg-1440.webp);
  @include pixel-ratio-2x {
    background-image: url(../img/hero-bg/hero-bg-@2x-2880.webp);
  }
}

.header {
  &__container {
    position: relative;

    padding-top: 30px;
    padding-bottom: 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__nav {
    display: flex;
  }

  &__wrap {
    display: flex;
    align-items: center;
  }

  &__search-wrap {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-right: 32px;
    width: 40px;
    height: 40px;

    background-color: transparent;    
    border-radius: 20px;  
    

    &:hover {
      width: 85px;
      border: 1px solid $accentColor;
      cursor: pointer;
    }
  }

  &__search-label {    
    cursor: pointer;
  }

  &__search-icon {
    stroke: $lightColor;
  }

  &__search-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;

    outline: 0;
    border: 0;
    display: none;

    border-radius: 20px;
    padding: 0 20px;

    font-weight: 400;
    font-size: 14px;
    line-height: calc(21 / 14);

    color: $lightColor;
    background-color: transparent;
  }

  &__search-wrap:hover &__search-input,
  &__search-wrap:valid &__search-input {
    display: block;
  }

  &__search-wrap:hover &__search-label {
    display: none;
  }

  &__basket {
    position: relative;

    display: flex;
    align-items: center;

    margin-right: 50px;

    fill: $darkColor;
    stroke: $lightColor;

    &::before {
      content: '';
      position: absolute;
      left: -22px;

      height: 15px;
      width: 1px;

      background-color: $lightColor;
    }
  }
}
