/* === HEADER AND HERO === */
.header-and-hero {
  margin: 0 auto;

  width: 100%;
  height: 750px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: gray;

  background-image: url(../img/hero-bg/hero-bg-1440.webp);
  @include pixel-ratio-2x {
    background-image: url(../img/hero-bg/hero-bg-@2x-2880.webp);
  }
}

/* === HEADER === */

.header {
  &__container {
    position: relative;

    padding-top: 30px;
    padding-bottom: 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__nav {
    display: flex;
  }

  &__wrap {
    display: flex;
    align-items: center;
  }

  &__search {
    &-wrap {
      position: relative;

      display: flex;
      align-items: center;
      justify-content: center;

      margin-right: 32px;
      width: 40px;
      height: 40px;

      background-color: transparent;
      border-radius: 20px;

      &:hover {
        width: 85px;
        border: 1px solid $accentColor;
        cursor: pointer;
      }
    }

    &-label {
      cursor: pointer;
    }

    &-icon {
      stroke: $lightColor;
    }

    &-input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 40px;

      outline: 0;
      border: 0;
      display: none;

      border-radius: 20px;
      padding: 0 20px;

      font-weight: 400;
      font-size: 14px;
      line-height: calc(21 / 14);

      color: $lightColor;
      background-color: transparent;
    }

    &-wrap:hover &-input,
    &-wrap:valid &-input {
      display: block;
    }

    &-wrap:hover &-label {
      display: none;
    }
  }

  &__basket {
    position: relative;

    display: flex;
    align-items: center;

    margin-right: 50px;

    fill: $darkColor;
    stroke: $lightColor;

    &::before {
      content: '';
      position: absolute;
      left: -22px;

      height: 15px;
      width: 1px;

      background-color: $lightColor;
    }
  }

  &__btn {
    height: 40px;
  }
}

/* === HERO === */

.hero {
  &__container {
    position: relative;

    padding-right: 95px;
    padding-bottom: 96px;

    display: flex;
    align-items: center;
  }

  &__event {
    margin-bottom: 1px;

    display: flex;

    &-item {
      display: flex;
      align-items: center;
    }

    &-item:not(:last-child) {
      margin-right: 50px;
    }

    &-icon {
      margin-right: 14.67px;

      fill: transparent;
      stroke: $accentColor;
    }

    &-text {
      font-weight: 600;
      font-size: 16px;
      line-height: calc(24 / 16);
      text-transform: uppercase;
      color: $lightColor;
    }
  }

  &__title {
    margin-bottom: 20px;
    width: 586px;

    font-weight: 700;
    font-size: 62px;
    line-height: calc(74 / 62);
    text-transform: uppercase;
    color: $lightColor;
  }

  &__cda {
    margin-bottom: 40px;
    width: 570px;

    font-weight: 500;
    font-size: 16px;
    line-height: calc(22 / 16);
    color: $lightColor;
  }

  &__btn {
    &-list {
      display: flex;
    }

    &-item:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
  }

  &__countdown {
    &-wrap {
      position: absolute;
      bottom: 0;
      left: 0;

      padding-left: 133px;
      padding-top: 21px;
      padding-bottom: 21px;

      width: 723.5px;
      height: 130.04px;
      background-image: url(../img/count-bg/count-bg.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    &-list {
      display: flex;
    }

    &-item {
      display: flex;
      flex-direction: column;

      font-weight: 600;
      font-size: 16px;
      text-align: center;
      text-transform: uppercase;
    }

    &-item:not(:last-child) {
      margin-right: 74px;
    }

    &-numbers {
      font-weight: 700;
      font-size: 40px;
      line-height: calc(72 / 40);
      text-align: center;
      text-transform: uppercase;
    }
  }
}

/* Accent colors for countdown */

@each $colorNumber in 'first', 'second', 'third', 'fourth' {
  .time-#{$colorNumber} {
    color: getColor(#{$colorNumber});
  }
}
