/* === HERO-SLIDER === */
.hero-slider {
  width: 610px;
  height: 554px;

  &-wrapper {
    width: 100%;
    height: 520px;
  }

  &-slide {
    width: 400px;

    &-next {
      width: 190px;
      height: 520px;
      overflow: hidden;
    }
  }

  &-pagination {
    display: flex;
    justify-content: center;
  }

  &-pagination-bullet {
    display: block;
    width: 15px;
    height: 4px;
    border-radius: 0;
    background-color: $thirdGrayColor;

    &-active {
      width: 25px;
      background-color: $accentColor;
    }
  }

  &-pagination-bullet:not(:last-child) {
    margin-right: 10px;
  }
}
