/* === LOGO === */
.logo {
  margin-right: 108px;

  display: flex;
  align-items: center;

  &__icon {
    @include myTransition(fill);

    &:not(:last-child) {
      margin-right: 11.22px;
    }

    &:nth-child(1) {
      fill: $accentColor;
    }

    &:nth-child(2) {
      fill: $lightColor;
    }
  }

  &:hover &__icon:nth-child(1) {
    fill: $lightColor;
  }

  &:hover &__icon:nth-child(2) {
    fill: $accentColor;
  }
}

.footer .logo {
  margin-right: 0;
  margin-bottom: 20px;
}
