/* === MENU === */
.menu {
  display: flex;
  align-items: center;
  overflow: hidden;

  &__dropdown {    
    overflow: hidden;
  }

  &__dropdown:not(:last-child) {
    margin-right: 29px;
  }

  &__drop-btn {
    padding: 0;
    border: none;
    outline: none;

    color: $lightColor;
    background-color: transparent;

    &::after {
      content: '>';
      margin-left: 4px;
      display: inline-block;
    }
  }

  &__dropdown-content {
    display: none;
    position: absolute;

    padding: 10px 0;
    width: 100px;
    border: 1px solid $accentColor;
    border-radius: 3px;

    background-color: $fourthGrayColor;
    box-shadow: 10px 10px 20px rgba($darkColor, 0.5);
    z-index: 2;
  }

  &__dropdown:hover &__dropdown-content {
    display: block;
  }

  &__dropdown:hover &__drop-btn {
    color: $accentColor;
  }

  &__dropdown:hover &__drop-btn::after {
    transform: rotate(90deg);
    color: inherit;
  }  

  &__drop-btn,
  &__dropdown-link {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(21 / 14);
  }

  &__drop-btn {
    text-transform: uppercase;
  }

  &__dropdown-link {
    padding: 3px 0 3px 10px;

    &:hover {
      color: $accentColor;
      background-color: $thirdGrayColor;
    }
  }
}
