/* === MENU === */
.menu {
  display: flex;
  align-items: center;

  &__dropdown {
    position: relative;
  }

  &__dropdown:not(:last-child) {
    margin-right: 29px;
  }

  &__drop-btn {
    padding: 0;
    border: none;
    outline: none;

    text-transform: uppercase;
    color: $lightColor;
    background-color: transparent;

    &::after {
      content: '>';
      margin-left: 4px;
      display: inline-block;
    }
  }

  &__dropdown-content {
    position: absolute;
    visibility: hidden;
    z-index: -1;

    padding: 10px 0;
    width: 100px;
    border: 1px solid $accentColor;
    border-radius: 3px;

    background-color: $fourthGrayColor;
    box-shadow: 10px 10px 20px rgba($darkColor, 0.5);

    transform: translateY(-100%);
    opacity: 0;

    @include myTransition(transform);
    @include myTransition(opacity);
    @include myTransition(z-index);
  }

  &__dropdown:hover &__dropdown-content {
    visibility: visible;
    z-index: 2;
    transform: translateY(0);
    opacity: 1;
  }

  &__dropdown:hover &__drop-btn {
    color: $accentColor;
  }

  &__dropdown:hover &__drop-btn::after {
    transform: rotate(90deg);
    color: inherit;
  }

  &__dropdown:hover &__dropdown-link {
    animation: slideInLeft 0.3s ease-in-out backwards;
  }

  &__drop-btn,
  &__dropdown-link {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(21 / 14);
  }

  &__dropdown-link {
    padding: 3px 0 3px 10px;

    &:hover {
      color: $accentColor;
      background-color: $thirdGrayColor;
    }
  }
}

@keyframes slideInLeft {
  from {
    transform: translate(-25%, 0);
    opacity: 0;
  }

  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}
