/* === TEAM === */
.team {
  &__container {
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: flex-start;
  }

  &-slider {
    display: flex;
    margin-right: 30px;
    width: 670px;
    height: 370px;
    overflow: hidden;
  }

  &-slider-wrapper {
    width: 100%;
    height: 100%;
  }

  &-slide {
    position: relative;
    width: 210px;
    overflow: hidden;
    @include myTransition(transform);
  }

  &__subtitle {
    @extend %section-subtitle;
    margin-bottom: 6px;
  }

  &__title {
    margin-bottom: 25px;
    @extend %section-title;
    width: 448px;
  }

  &__text {
    margin-bottom: 30px;
    @extend %main-text;
    width: 470px;
  }

  &-btn-prev,
  &-btn-next {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: $accentColor;
  }

  &-btn-prev:after,
  &-btn-next:after {
    content: none;
  }

  &-btn-next {
    opacity: 0.5;
    left: 835px;
    top: 410px;
  }

  &-btn-prev {
    left: 890px;
    top: 410px;
  }

  &-btn-prev &__btn-icon,
  &-btn-next &__btn-icon {
    fill: $lightColor;
  }

  &__thumb {
    display: flex;
    justify-content: center;
  }

  &__overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 134px;
    text-align: center;
    transform: translateY(100%);
    @include myTransition(transform);

    background-color: linear-gradient(
      360deg,
      #000 0%,
      rgba(0, 0, 0, 0.74) 64.82%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  &__name {
    margin-bottom: 2px;
    color: $lightColor;
    font-size: 20px;
    font-weight: 600;
    line-height: calc(30 / 20);
  }

  &__position {
    margin-bottom: 11px;
    color: $lightColor;
    font-size: 13px;
    line-height: calc(19.5 / 13);
  }

  &__social-list {
    display: flex;
  }

  &__social-item:not(:last-child) {
    margin-right: 20px;
  }

  &__social-link-icon {
    fill: $lightColor;
    @include myTransition(fill);
  }

  &__social-link:hover &__social-link-icon {
    fill: $accentColor;
  }

  &__slider-wrap::before,
  &__slider-wrap::after {
    position: absolute;

    z-index: -1;

    content: '';
    display: block;
    width: 236px;
    height: 236px;
    border-radius: 50%;
  }

  .semisphere::before {
    top: 30px;
    left: 75px;
    background: linear-gradient(to left top, transparent 50%, #25CD44 50%);
  }

  .semisphere::after {
    bottom: 10px;
    left: 430px;
    background: linear-gradient(to right bottom, transparent 50%, #FFB339 50%);
  }
}



