/* === TESTIMONIALS === */
.testimonials {
  &__container {
    position: relative;
    padding-top: 89px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__subtitle {
    @extend %section-subtitle;
    margin-bottom: 1px;
  }

  &__title {
    margin-bottom: 4px;
    @extend %section-title;
  }

  &__text {
    margin-bottom: 60px;
    @extend %main-text;
    width: 573px;
    text-align: center;
  }

  &__slider-outer-wrap {
    width: 100%;
  }

  &__slider-outer-wrap::after {
    position: absolute;
    bottom: 80px;
    right: 80px;

    z-index: -1;

    content: '';
    display: block;
    width: 158px;
    height: 158px;
    border-radius: 50%;
    background: linear-gradient(to right bottom, transparent 50%, #ffb339 50%);
  }

  &-slider {
    width: 100%;
    height: 384px;
    overflow: hidden;
  }

  &-slider-wrapper {
    margin-bottom: 30px;
    width: 100%;
    height: 350px;
  }

  &-slide {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 250px);
    grid-auto-rows: 1;
    column-gap: 30px;
    width: 570px;
    height: 350px;
    border: 1px solid $tableBorderColor;
  }

  &__thumb {
    width: 100%;
    height: 310px;
  }

  &__picture {
    width: 100%;
    height: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  &__icon-wrap {
    margin-bottom: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: $accentColor;
  }

  &__icon {
    fill: $lightColor;
  }

  &__opinion {
    margin-bottom: 23px;
    width: 100%;
    color: $secondGrayColor;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: calc(23.8 / 14);
    text-align: start;
  }

  &__name {
    margin-bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $darkColor;
    font-size: 16px;
    font-weight: 600;
    line-height: calc(27.2 / 16);

    &::before {
      content: '';
      display: block;
      margin-right: 4px;
      width: 10px;
      height: 1px;
      background-color: $lineBeforeNameColor;
    }
  }

  &__position {
    color: $thirdGrayColor;
    font-size: 13px;
    line-height: calc(22.1 / 13);
  }

  &-pagination {
    display: flex;
    justify-content: center;
  }

  &-pagination-bullet {
    display: block;
    width: 15px;
    height: 4px;
    border-radius: 0;
    background-color: $thirdGrayColor;

    &-active {
      width: 25px;
      background-color: $accentColor;
    }
  }

  &-pagination-bullet:not(:last-child) {
    margin-right: 10px;
  }
}
