// === Variables ===

// Fonts
$mainFont: 'Poppins', sans-serif;
$secondaryFont: 'Sassy Frass', cursive;

// Text colors
$lightColor: #fff;
$darkColor: #000;
$firstGrayColor: #666666;
$secondGrayColor: #888888;
$thirdGrayColor: #AAAAAA;
$fourthGrayColor: #DDDDDD;
$footerBgColor: #151515;
$accentColor: #EE0034;
$notActiveAccentColor: rgba(238, 0, 52, 0.15);
$tableBorderColor: #EEEEEE;
$textShadowColor: rgba(0, 0, 0, 0.07);

// AccentColors

// $myColorFirst: #EE0034;
// $myColorSecond: #FFB339;
// $greenAccentColor: #25CD44;
// $blueAccentColor: #8000FF;

// Breakpoints
$minDesktop: 1440px;

// Transitions
$transitionFunction: cubic-bezier(0.4, 0, 0.2, 1);
$transitionTime: 500ms;